{% autoescape off %}

import kfp
import kfp.dsl as dsl
from kfp.components import func_to_container_op, InputPath, OutputPath
import kfp.compiler as compiler
from kfp.dsl.types import Dict as KFPDict, List as KFPList
from typing import NamedTuple

{% for step in Steps %}
import {{ step.Name }}
{% endfor %}

def get_run_info(
	run_id: str,
	mlflow_run_id: str = '',
	mlflow_tracking_url: str = '',
) -> NamedTuple("RunInfoOutput", [("run_info", str),]):
	"""Example of getting run info for current pipeline run"""
	import kfp
	import json
	import dill
	import base64
	import datetime
	from dateutil.tz import tzlocal
	from pprint import pprint as pp

	print(f"Current run ID is {run_id}.")
	client = kfp.Client(host="http://ml-pipeline:8888")
	run_info = client.get_run(run_id=run_id)
	# Hide verbose info
	run_info.run.pipeline_spec.workflow_manifest = None

	from collections import namedtuple

	pp(run_info.run)

	run_info_dict = {
		"run_id": run_info.run.id,
		"name": run_info.run.name,
		"created_at": run_info.run.created_at.isoformat(),
		"pipeline_id": run_info.run.pipeline_spec.pipeline_id,
	}
	for r in run_info.run.resource_references:
		run_info_dict[f"{r.key.type.lower()}_id"] = r.key.id

	output = namedtuple("RunInfoOutput", ["run_info"])
	return output(
		str(base64.urlsafe_b64encode(dill.dumps(run_info_dict)), encoding="ascii")
	)

get_run_info_component = kfp.components.create_component_from_func(
	func=get_run_info,
	packages_to_install=[
		"kfp",
		"dill",
	],
)

@dsl.pipeline(name="Compilation of pipelines",)
def root({{ RootParameterString }}, context='', metadata_url=''):
	# The below is base64 encoding of an empty locals() output
	__original_context = ""
	if context == '':
		__original_context = "gAR9lC4="
	else:
		__original_context = context

	'''kfp.dsl.RUN_ID_PLACEHOOLDER inside a parameter will be populated with KFP Run ID at runtime.'''
	run_info_op = get_run_info_component(run_id=kfp.dsl.RUN_ID_PLACEHOLDER)

{% for step in Steps %}
	{{step.Name}}_op = func_to_container_op(
		func={{step.Name}}.main,
		base_image="python:3.9-slim-buster",
		packages_to_install=["dill", {{step.PackageString}}],
	)
	{{step.Name}}_task = {{step.Name}}_op(context={% if step.PreviousStep %}{{step.PreviousStep}}_task.outputs['context']{% else %}__original_context{% endif %}, run_info=run_info_op.outputs["run_info"], metadata_url=metadata_url)
	{% if step.CacheValue %}{{step.Name}}_task.execution_options.caching_strategy.max_cache_staleness = "{{step.CacheValue}}"{% endif %}

	{% if step.PreviousStep %}
	{{ step.Name }}_task.after({{step.PreviousStep}}_task)
	{% endif %}
{% endfor %}

{% endautoescape %}